

.pClass {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    line-height: 60px;
    padding-left: 20px;
    color: white;
    text-align: center;
  }
  
  .home a {
    float: right;
    padding: 30px;
    text-decoration: none;
    color: white;
  }
  
  
  .top1 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border: 6px;
    border-color: black;
    background-color: grey;
    width: 100%;
    height: auto;
    box-shadow: 11px 10px 5px -4px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 11px 10px 5px -4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 11px 10px 5px -4px rgba(0, 0, 0, 0.53);
  }
  
  .head {
    display: flex;
  }
  
  .box {
    flex: 50%;
    padding: 20px;
     box-shadow: 11px 10px 5px -4px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 11px 10px 5px -4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 11px 10px 5px -4px rgba(0, 0, 0, 0.53);
    text-align: left;
    margin-top: 40px;
    margin-left: 30px;
    
  }

  
  .logo {
  
    padding-top: 30px;
    padding-right: 10px;
    width: 40px;
  
  }
  
  .box1 a {
    color: blue;
    vertical-align: middle;
      }
  
 
  .box1{
    padding: 50px;
   text-align: left;
  }

  .logo1{
    display: inline-block;
  }
  
  .contactForm {
    width: 40%;
   
    background: white;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
 {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size:16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span
{
color: #e91e63;
font-size: 12px;
transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]
{
width:100px;
background: #00bcd4;
color: #fff;
border: none;
cursor: pointer;
padding: 10px;
font-size:18px;
}

@media (max-width:991px){
    .contact {
        padding: 50px; 
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo {
        margin-bottom: 40px;
    }
    .container .contactInfo {
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}