body {

  font-family: "Lato", sans-serif;
  margin: 0px;
}

.study_pro{
  margin: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  line-height: 60px;
  padding-left: 20px;
  color: white;
  margin-right: 250px;
}

h5 {
  font-family: "Style Script", cursive;
  
  font-weight: 700;
  margin-right: 250px;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper>.left-side>div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  transform: scale(1.05);
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black;
}
a {
  text-decoration: none;
    
}
.nav-link-wrapper1  {
 height: 20px;
text-decoration: none;
color:transparent;
margin-bottom: 40px;

}

.nav-link-wrapper1:hover  {
  transition: 1s;
  margin-bottom: 40px;
  height: 70px;
  color:black;
 border-style: solid grey
 }

.nav-link-wrapper2 {
  height: 20px;
  text-decoration: none;
  color:transparent;
  margin-bottom: 40px;
 }

nav {
  text-decoration: none;
  transition-duration: 5s; 
}

 .nav-link-wrapper2:hover  {
  transition: 1s;
  margin-bottom: 40px;
  height: 60px;
 text-decoration: none;
 color:black;

 }
 
 .nav-link-wrapper3  {
  text-decoration: none;
  height: 20px;
 }

 .nav-link-wrapper3:hover  {
  transition: 1s;
  margin-bottom: 40px;
  height:40px;
 text-decoration: none;
 
 }
 

.nav-link-wrapper a:hover {
  color: black;
  font-size: larger;
  font-weight: 600;
  transition-duration: 5s; 
  transition: transform 0.5s ease-in-out;
}

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: auto;
  margin: 50px 40px 40px;
}

.portfolio-item-wrapper {
  position: relative;

}



.portfolio-img-background {
  background-size: 50%;
  height: 450px;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.53) 11px 10px 5px -4px;
  background-position: center center;
  background-repeat: no-repeat;
}



.img-text-wrapper {
  transition: 1s;
  position: absolute;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  text-align: center;
  padding-left: 140px;
  padding-right: 140px;
}

.img-text-wrapper:hover {
  transition: 1.2s;
  top: 45px;
}

.img-text-wrapper .subtitle {
  color: transparent;
  transition: 1s;
  top: 30px;
  padding-left: 10px;
  padding-bottom: 15px;

}

.image-blur {
  transition: 1s;
  filter: brightness(10%);
}

.img-text-wrapper:hover .subtitle {

  color: white;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;

}

.logo-wrapper img {
  width: 150%;

  padding-top: 50%;

}

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
}


/* ------------------------------------- */
.tag-list {

  color: rgb(134, 37, 110);
  margin: 8px;
  padding: 8px;
  row-gap: 10px;
  align-items: center;
  text-align: center;
  list-style-type: none;

}

#searchByHashtag {
  background-color: rgb(207, 194, 194);
  padding: 10px;
  margin: 8px;
  border-radius: 6px;
  font-weight: bolder;


}